.login-body {
    background-image: url('../imagen/fondo.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Tarjeta del login */
.login-card {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Estilo del logo */
.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
